:root {
  font-family:  system-ui, Avenir, Helvetica, Arial, sans-serif;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto
}

main img {
  max-width: 400px;
  aspect-ratio: square;
}